<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1034848205405-dd0h09sh5f2va2l4710jb4sfeblm7fap.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1034848205405-dd0h09sh5f2va2l4710jb4sfeblm7fap</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1034848205405-1mf1ei17tlmlpb88mdgef0a6rr3ljhsi.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAgakKkkacAZmm9DeLFeA98MSwnm4TrTEk</string>
	<key>GCM_SENDER_ID</key>
	<string>1034848205405</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tengo.tindolive</string>
	<key>PROJECT_ID</key>
	<string>tengo-clone</string>
	<key>STORAGE_BUCKET</key>
	<string>tengo-clone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1034848205405:ios:f059e9e60c5cfe9be4ebb4</string>
</dict>
</plist>